#a1{
   
    background-color: aqua;
    text-indent: 120px;
}
#a2{
    background-color: rgb(94, 195, 223);
}
#a3{
    margin-top: 10px;
    margin-left: 850px;
}
#a4{
   width: 500px;
   height: 500px;
}
footer{
    background-color: rgb(135, 164, 226);
}
#a5{
    background-color: rgb(188, 125, 203);
}
